/ebin
/deps
erl_crash.dump
/tmp
_build
/logs
.zenflow-log
*.DS_Store
*.ez
/node_modules
/env/*.env
/config/config.exs
/config/dev.exs
/config/prod.exs
/config/test.exs
/config/prod.secret.exs
/config/*.conf
apathy_drive.tar.gz
database.tar
/priv/static/css
/priv/static/js
!priv/static/themes
