<h2>Show player</h2>

<ul>

  <li>
    <strong>External:</strong>
    <%= @player.external_id %>
  </li>

  <li>
    <strong>Admin:</strong>
    <%= @player.admin %>
  </li>

</ul>

<%= link "Back", to: player_path(@conn, :index) %>
