defmodule ApathyDrive.Config do
  use Phoenix.Config.App

  config :router, port: System.get_env("PORT")

  config :plugs, code_reload: false

  config :logger, level: :error

  config :mud, start_room: 1235, # database id of room new characters start in
               db: "ecto://user:password@hostname/database_name" # ecto db connection string
end
