defmodule ApathyDrive.Config do
  use Phoenix.Config.App

  config :router, port: System.get_env("PORT")

  config :plugs, code_reload: false

  config :logger, level: :error

  config :mud, start_room: *database_id_of_start_room*
end
