defmodule ApathyDrive.Config.Test do
  use ApathyDrive.Config

  config :router, port: 4001,
                  ssl: false,
                  # Full error reports are enabled
                  consider_all_requests_local: true

  config :plugs, code_reload: true

  config :logger, level: :debug

  config :mud, start_room: 1235, # database id of room new characters start in
               db: "ecto://user:password@hostname/database_name" # ecto db connection string

end
