.dark-cyan {
  color: teal; }

.cyan {
  color: cyan; }

.dark-red {
  color: maroon; }

.red {
  color: red; }

.dark-magenta {
  color: purple; }

.magenta {
  color: magenta; }

.white {
  color: white; }

.dark-yellow {
  color: olive; }

.yellow {
  color: yellow; }

.dark-blue {
  color: #0000aa; }

.blue {
  color: blue; }

.dark-green {
  color: green; }

.green {
  color: lime; }

.grey {
  color: silver; }

.dark-grey {
  color: gray; }

.underline {
  border-bottom: 1px solid green;
  padding-bottom: 3px;
  margin-bottom: 20px; }

body {
  overflow: hidden; }

#wrap {
  background-color: black; }

#main, #prompt {
  font-family: "Andale Mono", "Courier New", Monospace;
  font-size: 12px;
  color: silver;
  line-height: 7px; }

.room {
  width: 620px;
  line-height: 15px; }
  .room .title {
    color: cyan; }
  .room .description {
    text-indent: 33px; }
  .room .items {
    color: teal; }
  .room .exits {
    color: green; }

#wrap > .container {
  padding: 5px 15px 0; }

.container {
  width: auto; }

#footer > .container {
  padding-left: 15px;
  padding-right: 15px; }

code {
  font-size: 80%; }

#scroll_container {
  position: absolute;
  overflow: hidden;
  bottom: 35px;
  width: 620px;
  padding-left: 0; }

#scroll {
  overflow: hidden;
  height: 100%;
  width: 620px;
  white-space: pre-wrap; }
  #scroll p {
    line-height: 15px;
    margin-bottom: 0px; }

#scroll:hover {
  overflow-y: scroll; }

.prompt {
  max-width: 620px;
  background-color: black;
  border: none;
  color: silver;
  outline: none;
  font-size: 12px;
  display: inline; }

.prompt::selection {
  background-color: #0000aa;
  color: white; }

.prompt:disabled {
  color: olive; }

.field {
  background-color: black;
  border: none;
  color: white;
  outline: none;
  font-size: 12px;
  height: 14px;
  padding: 0px;
  margin-bottom: -10px;
  margin-top: -10px; }

.field:focus {
  color: black;
  background-color: silver; }

#prompt {
  color: silver;
  margin-right: 5px; }

.arrow {
  position: relative;
  left: -5px; }
