textarea.json {
  height: 500px;
  margin: 0;
  width: -moz-calc(100% - 60px) !important;
  width: -webkit-calc(100% - 60px) !important;
  width: calc(100% - 60px) !important;
  border: none;
  font-size: 10pt;
  font-family: monospace;
  padding: 0;
  text-indent: 0px;
  line-height: normal !important;
}

textarea {
  height: 100px;
  margin: 0;
  width: 100%;
  line-height: normal !important;
  border-color: #d2d6de;
  padding: 6px 12px;
}

.linedwrap {
  margin-bottom: 2em;
  width: 100%;
  overflow: auto;
}