html, body.app {
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

.container {margin-left: 25px;}

#scroll-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  color: white;
  label.error {
    color: red;
  }
  input {
    background: #141414;
  }
  textarea {
    background: #141414;
    height: 150px;
  }
  select {
    color: black;
  }
  margin: 0 0 0 25px;
  #scroll {
    overflow-y: scroll;
    padding-left: 360px;
    //height: 100%;
    white-space: pre-wrap;
    font-family: "Inconsolata", "Andale Mono", Monospace;
    color: silver;
    line-height: 9px;
    width: 100%;
    z-index: 1;
    //position: relative;
    font-size: 0.90em;
    p {
      padding-right: 775px;
    }
  }
  #footer {
    flex-shrink: 0;
    margin-left: 360px;
    font-family: "Inconsolata", "Andale Mono", Monospace;
    color: silver;
    line-height: 9px;
    margin-bottom: 1em;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 80px;
  }
}

canvas {
  position: absolute;
  top: 84px;
  left: 18px;
  z-index: 1;
}

.score {
  position: fixed;
  white-space: pre-wrap;
  font-family: "Inconsolata", "Andale Mono", Monospace;
  top: 350px;
  left: 10px;
  color: silver;
  font-size: 0.90em;
}


input.prompt {
  background-color: black !important;
  border: none;
  color: silver;
  outline: none;
  display: inline;
  margin-bottom: 0px;
  width: 80%;
  position: relative;
  top: -5px;
  font-size: 15px;
}

#player-bars {
  position: fixed;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 102%;
  z-index: 0;
  padding-left: 5px;
  padding-right: 5px;
}


.progress-bar {

  width: 32%;
  height: 7px;
  margin-bottom: 5px;
  background: #292929;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px #333;
  float: left;
  margin-left: 5px;

  div {
    height: 100%;
    color: #fff;
    text-align: right;
    font-size: 12px;
    line-height: 22px;
  }

  div.blue {
    background: linear-gradient(#0000dd, #000066);
  }

  div.red {
    background: linear-gradient(#c00000, #400000);
  }

  div.yellow {
    background: linear-gradient(#c0c000,#404000);
  }
}

#right-sidebar {
  position: fixed;
  right: 0px;
  top: 75px;
  width: 375px;
  height: 100%;
  display: flex;
  flex-direction: column;

  #chat {
    color: silver;
    line-height: 19px;
    font-family: "Inconsolata", "Andale Mono", Monospace;
    font-size: 0.90em;
    padding-bottom: 115px;
    overflow-y: scroll;
    p {
      margin-bottom: 0px;
      margin-right: 10px;
    }
  }

  #moblist {
    flex-shrink: 0;
    font-family: "Inconsolata", "Andale Mono", Monospace;
    font-size: 0.90em;
    div.progress-bar {
      width: 105px;
      height: 3px;
      margin-left: 0px;
      margin-right: 5px;
    }
    ul {
      list-style-type: none;
      margin-bottom: 45px;
      margin-left: 0px;
    }
    h5 {
      margin-bottom: 0px;
    }

    div.blue {
      background: #0000dd;
    }

    div.red {
      background: #c00000;
    }

    div.yellow {
      background: #c0c000;
    }
  }

}



/* old */

.dark-cyan {
  color: teal; }

.cyan {
  color: cyan; }

.dark-red {
  color: maroon; }

.red {
  color: red; }

.dark-magenta {
  color: darkmagenta; }

.magenta {
  color: magenta; }

.white {
  color: white; }

.dark-yellow {
  color: olive; }

.yellow {
  color: yellow; }

.dark-blue {
  color: #0000aa; }

.blue {
  color: blue; }

.dark-green {
  color: green; }

.green {
  color: chartreuse; }

.grey {
  color: silver; }

.dark-grey {
  color: gray; }

.underline {
  border-bottom: 1px solid green;
  padding-bottom: 3px;
  margin-bottom: 20px; }

pre {
  font-family: "Inconsolata", "Andale Mono", Monospace;
}

#scroll p {
  line-height: 19px;
  margin-bottom: 0px;
}

.prompt::selection {
  background-color: #0000aa;
  color: white; }

.prompt:disabled {
  color: olive; }

#prompt {
  color: silver;
  margin-right: 5px;
  float: left;
  line-height: 8px;
  font-size: 0.90em;
}


.ability-index table {
  margin: 0px;
}
.ability th:first-child {
 width: 100px;
}

.CodeMirror {
  height: inherit;
  margin-bottom: 1.5rem;
  border: 1px solid silver;
}

a.anchor{display: block; position: relative; top: -7.0rem; visibility: hidden;}

#fb {margin-top: 40px;}

.alert { color: red;}

form.link { margin-bottom: 0;}