* {
  box-sizing: border-box;
}
html, body.app {
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

a.autolink {
  text-decoration: none;
  color: teal;
}

.container {margin-left: 25px;}

#scroll-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  color: white;
  label.error {
    color: red;
  }
  input {
    background: #141414;
  }
  select {
    color: black;
  }
  margin: 0 0 0 25px;
  #scroll {
    overflow-y: scroll;
    margin-left: 360px;
    //height: 100%;
    white-space: pre-wrap;
    font-family: "Courier Prime", "Courier New", "Inconsolata", "Andale Mono", Monospace;
    color: silver;
    line-height: 9px;
    width: 100%;
    z-index: 1;
    //position: relative;
    font-size: 1.10em;
    p {
      padding-right: 800px;
    }
  }
  #footer {
    flex-shrink: 0;
    margin-left: 360px;
    font-family: "Courier Prime", "Courier New", "Inconsolata", "Andale Mono", Monospace;
    color: silver;
    line-height: 9px;
    margin-bottom: 1em;
    width: 100%;
    padding-bottom: 80px;
  }
}

canvas {
  position: absolute;
  top: 84px;
  left: 18px;
  z-index: 1;
}

.score {
  position: fixed;
  white-space: pre-wrap;
  font-family: "Inconsolata", "Andale Mono", Monospace;
  top: 350px;
  left: 10px;
  color: silver;
  font-size: 0.90em;
}

#score-effects{
  position: relative;
  top: 5px;
}


textarea.prompt {
  background-color: black !important;
  border: none;
  color: silver;
  outline: none;
  display: inline-block;
  margin-bottom: 0px;
  width: 45%;
  position: relative;
  line-height: 23px;
  resize: none;
  font-size: 1.10em;
  padding: 0;
  min-height: 0px !important;
  height: auto !important;
}

#player-bars {
  position: fixed;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 0;
  padding-left: 5px;
  padding-right: 5px;
}


.progress-bar {

  width: 32%;
  height: 7px;
  margin-bottom: 5px;
  background: #292929;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px #333;
  float: left;
  margin-left: 5px;

  div {
    height: 100%;
    color: #fff;
    text-align: right;
    font-size: 12px;
    line-height: 22px;
  }

  div.blue {
    background: linear-gradient(#0000dd, #000066);
  }

  div.red {
    background: linear-gradient(#c00000, #400000);
  }

  div.yellow {
    background: linear-gradient(#c0c000,#404000);
  }

  div.dark-magenta {
    background: linear-gradient(darkmagenta, black)
  }

  div.dark-red {
    background: linear-gradient(darkred, black)
  }

  div.green {
    background: linear-gradient(chartreuse, black)
  }

  div.magenta {
    background: linear-gradient(magenta, darkmagenta)
  }

  div.dark-cyan {
    background: linear-gradient(teal, black)
  }

  div.dark-green {
    background: darkgreen;
  }


}

.progress-bar.hp {
  background-image: linear-gradient(#c00000,#400000), linear-gradient(#8b008b, #360036), linear-gradient(#292929,#292929);
  background-repeat:no-repeat;
  transition:1s;
}

.progress-bar.mana {
  background-image: linear-gradient(#0000dd, #000066), linear-gradient(#292929,#292929);
  background-repeat:no-repeat;
  transition:1s;
}


div.attribute {
  width: 115px;
  margin-left: 13px;
  height: 1px;
  position: relative;
  top: -2px;
}
span.attribute-row {
  position: relative;
  top: -64px;
}
div.experience {
  width: 258px;
  position: relative;
  top: 10px;
  left: 4px;
  height: 3px;
}

#right-sidebar {
  position: fixed;
  right: 0px;
  top: 45px;
  width: 375px;
  height: 100%;
  display: flex;
  flex-direction: column;

  #chat, #all, #announce {
    color: silver;
    line-height: 19px;
    font-family: "Inconsolata", "Andale Mono", Monospace;
    font-size: 0.90em;
    height: 275px;
    margin-top: -1px;
    margin-bottom: 11px;
    overflow-y: scroll;
    p {
      margin-bottom: 0px;
      margin-right: 10px;
    }
    .time {
      text-align: center;
    }
  }

  #moblist {
    flex-shrink: 0;
    font-family: "Inconsolata", "Andale Mono", Monospace;
    font-size: 0.90em;
    div.progress-bar {
      width: 105px;
      height: 3px;
      margin-left: 0px;
      margin-right: 5px;
    }
    ul {
      list-style-type: none;
      margin-bottom: 45px;
      margin-left: 0px;
    }
    h5 {
      margin-bottom: 0px;
    }

    div.blue {
      background: #0000dd;
    }

    div.red {
      background: #c00000;
    }

    div.yellow {
      background: #c0c000;
    }
  }

  .help-block { color: red;}
  form {
    border: 2px solid #fff;
    padding: 20px;
    max-width: 500px;
  }
  .tabrow {
    left: 20px;
    list-style: none;
    margin: 25px -10px 0 0;
    padding: 0;
    line-height: 24px;
  }
  .tabrow li {
    display: inline-block;
    height: 20px;
    padding: 0 30px;
    color: #999;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;

    cursor: pointer;
    box-sizing: border-box;
    background-color: #333;

    margin: 0;
  }
 .tabrow li:hover {
    color: white;
    background-color:teal;
  }
  .tabrow li.selected {
    color: white;
    background-color: teal;
  }
  .tabrow:before {
    z-index: 1;
  }
  .tabrow li {
    position: relative;
    z-index: 0;
  }
  .tabrow li.selected {
    z-index: 2;
    border-bottom-color: #fff;
  }
  .tabrow li:before,
  .tabrow li:after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
  }
  .tabrow li:before {
    left: -6px;
  }
  .tabrow li:after {
    right: -6px;
  }
  .tabrow li {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .tabrow li:before {
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
  }
  .tabrow li:after {
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
  }

}



/* old */

.dark-cyan {
  color: teal; }

.cyan {
  color: cyan; }

.dark-red {
  color: maroon; }

.red {
  color: red; }

.dark-magenta {
  color: darkmagenta; }

.magenta {
  color: magenta; }

.attacker {
  color: #5555ff;
}

.target {
  color: #ff3333;
}

.spectator {
  color: #ff55ff;
}


.white {
  color: white; }

.dark-yellow {
  color: olive; }

.yellow {
  color: yellow; }

.dark-blue {
  color: #0000aa; }

.blue {
  color: blue; }

.dark-green {
  color: green; }

.green {
  color: chartreuse; }

.grey {
  color: silver; }

.dark-grey {
  color: gray; }

.underline {
  border-bottom: 1px solid green;
  padding-bottom: 3px;
  margin-bottom: 20px; }

pre {
  font-family: "Inconsolata", "Andale Mono", Monospace;
}

#scroll p {
  line-height: 24px;
  margin-bottom: 0px;
}

.prompt::selection {
  background-color: #0000aa;
  color: white; }

.prompt:disabled {
  color: olive; }

#prompt {
  color: silver;
  margin-right: 5px;
  float: left;
  line-height: 24px;
  font-size: 1.10em;
}


.ability-index table {
  margin: 0px;
}
.ability th:first-child {
 width: 100px;
}

.CodeMirror {
  height: inherit;
  margin-bottom: 1.5rem;
  border: 1px solid silver;
}

a.anchor{display: block; position: relative; top: -7.0rem; visibility: hidden;}

#fb {margin-top: 40px;}

.alert { color: red;}

form.link { margin-bottom: 0;}

