use Mix.Config

config :apathy_drive, ApathyDrive.Endpoint,
  url: [host: "localhost"],
  secret_key_base: "YOUR_SECRET_HERE",
  debug_errors: false,
  pubsub: [name: :pub_sub,
           adapter: Phoenix.PubSub.PG2],
  root: Path.expand("..", __DIR__)

config :logger, :console,
  format: "$time $metadata[$level] $message\n",
  metadata: [:request_id],
  level: :info

import_config "#{Mix.env}.exs"
