use Mix.Config

config :apathy_drive, ApathyDrive.Endpoint,
  http: [port: 4000],
  debug_errors: true,
  cache_static_lookup: false,
  watchers: [{Path.expand("node_modules/brunch/bin/brunch"), ["watch"]}],
  live_reload: [
    # url is optional
    url: "ws://localhost:4000", 
    # `:patterns` replace `:paths` and are required for live reload
    patterns: [~r{priv/static/.*(js|css|png|jpeg|jpg|gif)$},
               ~r{web/views/.*(ex)$},
               ~r{web/templates/.*(eex)$}]],
  code_reloader: true,
  oauth2: {OAuth2.Strategy.AuthCode, [
    site: "https://graph.facebook.com",
    authorize_url: "https://www.facebook.com/dialog/oauth",
    token_url: "https://graph.facebook.com/v2.3/oauth/access_token",
    client_id: "YOUR_FB_CLIENT_ID",
    client_secret: "YOUR_FB_CLIENT_SECRET"]}

# Do not include metadata nor timestamps in development logs
config :logger, truncate: 81920
config :logger, :console, format: "[$level] $message\n"

config :apathy_drive, ApathyDrive.Repo,
  database: "YOUR_DEV_DB",
  username: "YOUR_DEV_USER",
  password: "YOUR_DEV_PASSWORD",
  hostname: "YOUR_DEV_HOST",
  adapter: Ecto.Adapters.Postgres