use Mix.Config

config :apathy_drive, ApathyDriveWeb.Endpoint,
  http: [port: 4000],
  debug_errors: true,
  cache_static_lookup: false,
  watchers: [
    node: [
      "node_modules/brunch/bin/brunch",
      "watch",
      "--stdin",
      cd: Path.expand("../assets", __DIR__)
    ]
  ],
  live_reload: [
    # url is optional
    url: "ws://localhost:4000",
    # `:patterns` replace `:paths` and are required for live reload
    patterns: [~r{priv/static/.*(js|css|png|jpeg|jpg|gif)$},
               ~r{web/views/.*(ex)$},
               ~r{web/templates/.*(eex)$}]],
  code_reloader: true,

# Do not include metadata nor timestamps in development logs
config :logger, truncate: 81920
config :logger, :console, format: "[$level] $message\n"

config :apathy_drive, ApathyDrive.Repo,
  database: "YOUR_DEV_DB",
  username: "YOUR_DEV_USER",
  password: "YOUR_DEV_PASSWORD",
  hostname: "YOUR_DEV_HOST"