use Mix.Config

config :apathy_drive, ApathyDrive.Endpoint,
  url: [host: System.get_env("HOST")],
  http: [port: System.get_env("PORT")],
  secret_key_base: System.get_env("SECRET_KEY_BASE"),
  oauth2: {OAuth2.Strategy.AuthCode, [
    site: "https://graph.facebook.com",
    authorize_url: "https://www.facebook.com/dialog/oauth",
    token_url: "https://graph.facebook.com/v2.3/oauth/access_token",
    client_id: System.get_env("FB_CLIENT_ID"),
    client_secret: System.get_env("FB_CLIENT_SECRET")]}

config :logger,
  level: :info

config :apathy_drive, ApathyDrive.Repo,
  database: System.get_env("DB_DATABASE"),
  username: System.get_env("DB_USERNAME"),
  password: System.get_env("DB_PASSWORD"),
  hostname: System.get_env("DB_HOSTNAME"),
  extensions: [{Extensions.JSON, library: Poison}]
