use Mix.Config

config :apathy_drive, ApathyDrive.Endpoint,
  http: [port: System.get_env("PORT") || 4001],
  debug_errors: true

config :apathy_drive, ApathyDrive.Repo,
  database: "YOUR_TEST_DB",
  username: "YOUR_TEST_USER",
  password: "YOUR_TEST_PASSWORD",
  hostname: "YOUR_TEST_HOST"