$dark-cyan: #008080;
.dark-cyan { color: $dark-cyan; }
$cyan: #0ff;
.cyan { color: $cyan; }
$dark-red: #800000;
.dark-red { color: $dark-red; }
$red: #F00;
.red { color: $red; }
$dark-magenta: #800080;
.dark-magenta { color: $dark-magenta; }
$magenta: #f0f;
.magenta { color: $magenta; }
$white: #fff;
.white { color: $white; }
$dark-yellow: #808000;
.dark-yellow { color: $dark-yellow; }
$yellow: #ff0;
.yellow { color: $yellow; }
$dark-blue: #0000AA;
.dark-blue { color: $dark-blue; }
$blue: #0000FF;
.blue { color: $blue; }
$dark-green: #008000;
.dark-green { color: $dark-green; }
$green: #00FF00;
.green { color: $green; }
$grey: #c0c0c0;
.grey { color: $grey; }
$dark-grey: #808080;
.dark-grey { color: $dark-grey; }

.underline {
  border-bottom: 1px solid $dark-green;
  padding-bottom: 3px;
  margin-bottom: 20px;
}
body {
  overflow: hidden;
}

#wrap {
  background-color: black;
}

#main, #prompt {
  font-family: "Andale Mono", "Courier New", Monospace;
  font-size: 12px;
  color: $grey;
  line-height: 7px;
}

#room {
  width: 620px;
  .title { color: $cyan; }
  .description {
    text-indent: 33px;
  }
  .items { color: $dark-cyan; }
  .exits { color: $dark-green; }
}

#wrap > .container {
  padding: 5px 15px 0;
}

.container { width: auto; }

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

#scroll_container {
  position: absolute;
  overflow: hidden;
  bottom: 35px;
  width: 620px;
  padding-left: 0;
}

#scroll {
  overflow: hidden;
  height: 100%;
  white-space: pre-wrap;
  p { margin-bottom: 10px;}
}

#scroll:hover {
  overflow-y: scroll;
}

#command {
  width: 620px;
  background-color: black;
  border: none;
  color: $grey;
  outline: none;
  font-size: 12px;
}

#prompt {
  color: $grey;
  margin-right: 5px;
}
