html {
  height: 100%;
  background-color: #000;
}

.container {
  width: 100%;
  color: white;
  label.error {
    color: red;
  }
  input {
    color: black;
  }
  select {
    color: black;
  }
}

.header {
  margin-top: 6rem;
  text-align: center;
}

/* old */

.dark-cyan {
  color: teal; }

.cyan {
  color: cyan; }

.dark-red {
  color: maroon; }

.red {
  color: red; }

.dark-magenta {
  color: purple; }

.magenta {
  color: magenta; }

.white {
  color: white; }

.dark-yellow {
  color: olive; }

.yellow {
  color: yellow; }

.dark-blue {
  color: #0000aa; }

.blue {
  color: blue; }

.dark-green {
  color: green; }

.green {
  color: lime; }

.grey {
  color: silver; }

.dark-grey {
  color: gray; }

.underline {
  border-bottom: 1px solid green;
  padding-bottom: 3px;
  margin-bottom: 20px; }

.room {
  width: 700px;
  line-height: 19px;
  .title {
    color: cyan;
    .lair { font-style: italic; }
  }
  .description {
    text-indent: 33px;
  }
  .items {
    color: teal; 
  }
  .exits {
    color: green; 
  }
}

code {
  font-size: 80%; }

#scroll {
  overflow: hidden;
  height: 100%;
  white-space: pre-wrap;
  font-family: "Inconsolata", "Andale Mono", Monospace;
  color: silver;
  line-height: 9px;
}

#scroll p {
  line-height: 19px;
  margin-bottom: 0px; }

input.prompt {
  background-color: black;
  border: none;
  color: silver;
  outline: none;
  font-size: 14px;
  display: inline;
  margin-bottom: 0px; }

.prompt::selection {
  background-color: #0000aa;
  color: white; }

.prompt:disabled {
  color: olive; }

#prompt {
  color: silver;
  margin-right: 5px; }
