<div id="shopping-list"></div>

<template id="damage-types">
  <div id="app">
    <table>
      <type is="type" v-for="type in sorted_damage_types" :channel="channel" :type="type" :key="type.id"></type>
    </table>
  </div>
</template>

<div id="app"></div>
