<%= render ApathyDriveWeb.PageView, "nav.html", conn: @conn %>
<div id="app1">
  <table>
    <tr is="damage_type"
      v-for="damage_type in damage_types"
      v-bind:damage_type="damage_type"
      v-bind:key="damage_type.id">
    </tr>
  </table>
</div>
<script>
  var characterID = "<%= Phoenix.Token.sign(@conn, "character", @character) %>"
  require("js/nav");
  require("js/admin.js");
</script>
