<%= render ApathyDriveWeb.PageView, "nav.html", conn: @conn %>


<div id="shopping-list"></div>

<template id="damage-types">
  <div id="app">
    <table>
      <type is="type" v-for="type in damage_types" :type="type" :key="type.id"></type>
    </table>
  </div>
</template>

<div id="app"></div>

<script>
  var characterID = "<%= Phoenix.Token.sign(@conn, "character", @character) %>"
  require("js/nav");
  require("js/admin/admin.js");
</script>
