<h2>Show character</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @character.name %>
  </li>

  <li>
    <strong>Race:</strong>
    <%= @character.race_id %>
  </li>

  <li>
    <strong>Class:</strong>
    <%= @character.class_id %>
  </li>

  <li>
    <strong>Experience:</strong>
    <%= @character.experience %>
  </li>

  <li>
    <strong>Alignment:</strong>
    <%= @character.alignment %>
  </li>

</ul>

<%= link "Back", to: character_path(@conn, :index) %>
