<%= render ApathyDrive.PageView, "nav.html", conn: @conn %>

<h2>Edit class</h2>

<%= render "form.html", changeset: @changeset,
                        action: class_path(@conn, :update, @class) %>

<%= link "Back", to: class_path(@conn, :index) %>

<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
<script>require("web/static/js/json-edit")</script>
<script>require("web/static/js/nav")</script>
