textarea.json {
  height: 500px;
  margin: 0;
  width: 50%;
  border: none;
  font-size: 10pt;
  font-family: monospace;
  padding: 0;
  text-indent: 0px;
  line-height: normal !important;
}

.linedwrap { margin-bottom: 2em; width: 90%; }
