<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/map.css") %>">
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/pixi.js") %>"></script>
  <script>require("web/static/js/map")</script>
  <script>require("deps/phoenix_html/web/static/js/phoenix_html");</script>
</head>
<body>
</body>
</html>
