<%= render "nav.html", conn: @conn %>

<div id="scroll">
</div>
<script>var spiritID = "<%= Phoenix.Token.sign(@conn, "spirit", @current_spirit) %>"</script>

<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
<script src="<%= static_path(@conn, "/js/pixi.js") %>"></script>
<script>require("web/static/js/app/app")</script>
<script>require("web/static/js/app/map")</script>
<script>require("web/static/js/app/nav")</script>
