<%= if @current_spirit do %>
  <a class="btn btn-primary btn-lg" href="<%= game_path @conn, :game %>">
    Play!
  </a>
<% else %>
  <a class="btn btn-primary btn-lg" href="<%= auth_path @conn, :index %>">
    <i class="fa fa-facebook"></i>
    Sign in with Facebook
  </a>
<% end %>
