HOST=HOST
PORT=PORT
SECRET_KEY_BASE=SECRET_KEY_BASE
FB_CLIENT_ID=FB_CLIENT_ID
FB_CLIENT_SECRET=FB_CLIENT_SECRET
DB_DATABASE=DB_DATABASE
DB_USERNAME=DB_USERNAME
DB_PASSWORD=DB_PASSWORD
DB_HOSTNAME=DB_HOSTNAME
